extends layout

block content
  .row
    .col-lg-12
      h1.page-header News
    .col-lg-12
      .panel.panel-default
        .panel-heading
          | News List
        // /.panel-heading
        .panel-body
          // Modal
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title 
                .modal-body
                  
                .modal-footer
                  //- button.btn.btn-default(type='button', data-dismiss='modal') Close
                  
              // /.modal-content
            // /.modal-dialog
          // /.modal
          form#search-form.form-group.col-md-1
            .form-group.input-group
              input#page-input.form-control(type='number', placeholder='Input Page', value='1' min='1')
              span.input-group-btn
                button.btn.btn-default(type='submit')
                  i.fa.fa-search
          .table-responsive.col-md-12
            table.table.table-striped#newstable
              thead
                tr
                  th.col-md-1.center #
                  th.col-md-8.center Title
                  //- th.col-md-4.center Date
                  //- th Author
                  th.col-md-3.center Operation
              tbody
          // /.table-responsive
        // /.panel-body
      // /.panel
